<library path="lib/librqt_tutorial">
  <class name="balazs_tutorials/RQTTutorial" type="balazs_tutorials::RQTTutorial" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin for Balazs' Tutorials.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Balazs' Tutorials</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for Balazs' Tutorials.</statustip>
    </qtgui>
  </class>
</library>
